/* Nav bar color */

.nav_bg_color {
    background-color: #222934 !important;
  }
  
  .list_style_none {
    list-style: none !important;
  }
  
  .nav-item_underline:hover {
    text-decoration: underline !important;
  }
  
  .list_desc_span {
    font-size: small !important;
  }
  
  .hover_para:hover {
    cursor: pointer;
  }
  
  .hero_card_icon_bg{
      width:50px !important;
  }
  
  /* .hero_card_icon_space{
    margin-left:105px !important;
  } */
  
    /* Sale banner */
  
    .bg_color_light_blue{
      background-color: #accbee !important;
    }
  
    .bg_color_little_blue{
      background-color: #1b273a !important;
    }
  
    .bg_color_light_blue_gradient{
      background-color: linear-gradient(90deg, #accbee 0%, #e7f0fd 100%) !important;
    }
  
    .bg_color_little_blue_gradient{
      background-color: linear-gradient(90deg, #1b273a 0%, #1f2632 100%) !important;
    }
  
    .sales_svg_styling{
      color: var(--cz-body-bg) !important;
      margin-left: -2px;
    }
  
    .sales_camera_img_styling{
      margin-bottom: -9% !important;
    }
  
    .sales_pb{
      padding-bottom: 3% !important;
    }
  
    /* special offer section */
    .special_cart_hover:hover{
      background-color: red !important;
      cursor: pointer;
    }
  
  /* Styles for screens that are 768px or wider */
  @media (min-width: 768px) and (max-width: 1200px) {
    .input_width {
      width: 400px !important;
    }
  
    .nav_item_space {
      margin: 0px 12px;
    }
  
    .hero_menu_width {
      width: 180px !important;
    }
  
    .hero_img_space {
      margin-left: 80px !important;
    }
  
    .hero_img_width {
      width: 600px !important;
      height: 500px !important;
    }
  
    .hero_card_icon_space{
      margin-left:105px !important;
    }
  
  }
  
  @media (min-width: 576px) and (max-width: 766px) {
  
    .hero_card_icon_space{
      margin-left:345px !important;
    }
  
  
  
  }
  
  
  @media (min-width: 576px) and (max-width: 766px) {
  
    .hero_card_icon_space{
      margin-left:345px !important;
    }
  
  
  
  }
  
  @media (min-width: 300px) and (max-width: 620px) {
    .display_search_input {
      display: none !important;
    }
  
    .display_search_none {
      display: inline !important;
    }
  
    .display_icon_none {
      display: none !important;
    }
  
    
  }
  
  @media (min-width: 621px) and (max-width: 1200px) {
    .display_search_none {
      display: none !important;
    }
  
  }
  
  
  @media (min-width:350px) and (max-width:479px) {
  
    .trending_product_sm_space{
      margin-left:60px !important;
      text-align: center;
    }
  
  }
  