
/* Nav bar color */

.nav_bg_color{
    background-color: #222934 !important;
}

.list_style_none{
    list-style: none !important;
}


/* Styles for screens that are 768px or wider */
@media (min-width:768px) and (max-width:1200px) {

    .input_width{
        width:400px !important;
    }
    
}
